body {
    background-color: rgb(60, 60, 60);
    color: rgb(0, 0, 0);
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
}
  
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 160, 160);
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://www.equestria-tcc.ru/img/bg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header {
    margin: auto;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    padding: 7px;
    width: 100%;
    max-width: 1000px;
}

#content {
    position: relative;
    display: flex;
    margin: auto;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    border: none;
}

header .search {
    width: 234px;
}

header input[type="checkbox"] {
    display: none;
}

.search-list .search {
    display: none;
    width: 234px;
}

.search-list {
    background: rgba(255, 255, 255, 0.25);
    height: 100%;
    width: 249px;
    flex-shrink: 0;
}

#content-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#list {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 249px;
    overflow-y: auto;
    overflow-x: hidden;
}

#cards {
    display: flex;
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    padding: 5px;
    width: 234px;
    margin: 3px 6px;
    font-size: 13px;
    font-weight: bold;
}

.username {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 5px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255,255,255,.25);
    border-radius: 0px 0px 10px 10px;
    padding: 4px;
    margin: 0px 3px 3px 3px;
}

.description {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px 10px 10px 10px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 4px;
    margin: 0 0 0 4px;
}

.pony-code {
    background: rgba(255, 255, 255, 0.85);
    flex-basis: 100%;
    border-radius: 10px 10px 10px 10px;
    flex-grow: 1;
    padding: 4px;
    margin: 4px 0 0 4px;
}

.title {
    border-radius: 10px 10px 0px 0px;
    background: rgba(255, 255, 255, 0.85);
    padding: 4px;
    font-weight: bold;
    margin: 3px 3px 0 3px;
}
.recipes {
    background: rgba(255,255,255,.25);
    color: rgb(255, 255, 255);
    font-size: 24px;
    height: 100%;
    padding: 4px;
    font-weight: bold;
    margin: 0 3px 0 3px;
    overflow-y: auto;
    overflow-x: hidden;
}

.recipess {
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
}

.no-card {
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: double 3px #EEE;
}

.card {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 48px; height: 64px;
    border: double 3px white;
    border-radius: 8px;
    -webkit-transition: all .1s;
    transition: all .1s;
}

.pony-card {
    background-size: 48px;
    background-color: #EEE;
    background-position: center;
    box-shadow: 1px 1px 2px 1px rgb(0,0,0,0.4);
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    margin: 0 3px 0 3px;
}

.card-face {
    margin: auto;
    backface-visibility: hidden;
    display: block;
    pointer-events: none;
    width: 32px; height: 32px;
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 4px solid white;
    border-radius: 100%;
}

@media all and (max-width: 660px) {
    .search-list {
      background: rgba(0, 0, 0, 0.85);
      display: none;
      position: absolute;
    }
    .search-list .search {
      display: block;
      margin: 6px;
    }
}
